<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Show</title>
</head>

<body>
    <nav>
        <a href="/products">Back to Products Index</a>
    </nav>
    <h1>
        <%=product.name %>
    </h1>
    Description: <%= product.description%>
        <br />
        <img src="<%= product.img %>">
        <br />
        Price: <%= product.price%>
            How Many: <%= product.qty%>
                <form style="display: inline;" action="/products/<%= product.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                </form>
                <a style="display: inline;" class="link" href="/products/<%=product._id%>/edit">Edit</a>
</body>

</html>